APP_PORT=3000
APP_HOST=0.0.0.0

# DB_URI="postgres://user:user@localhost:5432/autoria_db"
DB_URI="postgresql://neondb_owner:npg_6pD9eAIUkCyq@ep-curly-silence-ano2kzny-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"

JWT_ACCESS_SECRET="op228ajfjfjfafkjjdlfafdafkjda"
JWT_ACCESS_EXPIRATION="1 days"

JWT_REFRESH_SECRET="Pnaafdanui22fa8ajfjfjffVASOK_GENIUSadafkjjdlfafdafkjda"
JWT_REFRESH_EXPIRATION="10 days"

# Cron jobs
PRICE_RECALC_CRON=0 3 * * *

# External APIs
PRIVAT_API_URL=https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5

